- Навигация (кнопка играть, правила игры,карточки, кнопка логина и регистрации + логотип(можно текст))
  - Логин модальное окно с почтой,паролем чекбокс запомнить пароль или нет, кнопка сабмита
  - Регистрация модальное окно (логин, почта, пароль повторить пароль) согласен с правилами и кнопка сабмита





- Главная страница(новости обновления карточек, новые фичи и тд)

- Страница Играть
  - поиск игры, выбор обычная игра или рейтинговая, тематика. Создать свою игру, смотреть игры.

- Правила игры, страница с описанием правил игры в обычном режиме, рейтинговом, поведение за столом.

- Карточки - описание всех существующих профессий, фактов, возраст и тд

- Футер лого, создать лобби, правила карточки, проверить устройства